body {
    background-color: thistle;
}

h1  {
    text-align: center;
    margin: .5em;
}

h2 {
    text-align: center;
    margin: .5em;
}

input {
    width: 1.5em;
    height: 1.5em;
}

#resultbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    border: 3px solid black;
    width: 40%;
    height: 10em;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#converted {
    text-align: center;
}

#big-button {
    margin-top: 3em;
}
